/* 
.utility-container .owl-item,
.utility-container .owl-item.active {
    width: auto !important;
} */
/* 
body {
    background-image: url(/images/wave-big.png);
    background-position: top right;
    background-repeat: no-repeat;
} */